@import "tailwindcss";

:root {
  --background: #ffffff;
}

.primaryColor {
  color: #4D4F53;
}
.secondaryColor {
  color: #f50400;
}
/* #4096ff */
/* #B63155  */
.primaryButton{
  background-color: #f50400;
  color: white;
  font-weight: 500;
  padding: 7px 0px;
  transition: all 0.3s ease-in-out;
}
.primaryButton:hover{
  background-color: transparent;
  color: white;

}
.ant-modal-footer{
  display: none;
}

.ant-divider{
  color: rgb(0, 0, 0);
}
.btn{
  margin: 5px;
}
.btn-success{
  padding: 5px 19px;
  border-radius: 3px;
background-color: #28a745;
color: white;
}
.btn-success:hover{

background-color: #149131;

}
.btn-danger{
  padding: 5px 19px;
  border-radius: 3px;
background-color: #d33;
color: white;
}
.btn-danger:hover{

background-color: rgb(214, 21, 21);

}